{################################################################################################################## 
    name      : register.html.twig
    Role      : form template for creating new user account 
    author    : tristesire
    date      : 21/03/2022  
###################################################################################################################}

{% extends 'base_template.html.twig' %}

{% block title %}Register page{% endblock %}

{% block stylesheets %}

    {{ parent () }}
    
    <link rel="stylesheet" type="text/css" href="{{ asset('style/platform/form_registration.css') }}">

{% endblock %}

{% block main_content %}

	<div class="form_layout">
	
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1 class="page_label">Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.username, {'label' : 'nom d\'utilisateur'}) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'mot de passe'
        }) }}
       {{ form_row(registrationForm.agreeTerms, {'label': 'accepter les conditions d\'utilisation'}) }} 
       <div><a href="{{ asset('cgu/cgu.html') }}" target="_blank" id="conditions">voir conditions</a></div>

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
    
    </div>
    
    
    {#
    <form name="registration_form" method="post">
        <div><label for="registration_form_email" class="required">Email</label><input type="email" id="registration_form_email" name="registration_form[email]" required="required" /></div>
        <div><label for="registration_form_username" class="required">nom d&#039;utilisateur</label><input type="text" id="registration_form_username" name="registration_form[username]" required="required" /></div>
        <div><label for="registration_form_plainPassword" class="required">mot de passe</label><input type="password" id="registration_form_plainPassword" name="registration_form[plainPassword]" required="required" /></div>
       <div><label for="registration_form_agreeTerms" class="required">accepter les conditions d&#039;utilisation</label><input type="checkbox" id="registration_form_agreeTerms" name="registration_form[agreeTerms]" required="required" value="1" /></div> 
       <a href="/univertuel/public/cgu/cgu.html" target="_blank">voir conditions</a>

        <button type="submit" class="btn">Register</button>
    	<input type="hidden" id="registration_form__token" name="registration_form[_token]" value="oc_gLEeD89q7kiXGnj2xwrIFKJ9NmhZW0lJBEx8rAv8" />
    </form>
    #}
   
    
    
    
    
    
    
{% endblock %}
