{################################################################################################################## 
    name      : login.html.twig
    Role      : form template for authentication 
    author    : tristesire
    date      : 25/02/2021  
###################################################################################################################}

{% extends 'base_template.html.twig' %}

{% block title %}

	Log in!

{% endblock %}


{% block stylesheets %}

	{{ parent () }}
	<link rel="stylesheet" type="text/css" href="{{ asset('style/platform/form_login.css') }}" media="all">

{% endblock %}


{% block main_content %}

<div id="layout">
	<div id="bloc">
		<div id="image" style="background-image: url( {{ asset ('img/platform/authentication/form_login.jpg') }});
									min-height:700px;background-repeat:repeat;background-size:cover;height:100%; ">
		</div>
		<div id="form">
			<h1>authentification</h1>
			<form method="post">
	    {% if error %}
	        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	    {% endif %}


			    <label for="inputEmail">Email</label>
			    <input type="email" value="" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
			    <label for="inputPassword">Password</label>
			    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
			
			    <input type="hidden" name="_csrf_token"  value="{{ csrf_token('authenticate') }}">
		
		    {#
		        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
		        See https://symfony.com/doc/current/security/remember_me.html
		
		        <div class="checkbox mb-3">
		            <label>
		                <input type="checkbox" name="_remember_me"> Remember me
		            </label>
		        </div>
		    #}
		
		    	<button  type="submit" id="submit">connexion</button>
			</form>
    		
    		<p>Pas encore membre?Créez votre compte <a href={{ path ('registration') }}>ici</a></p>
		</div>
	</div>
</div>


{% endblock %}
























