{% extends 'base_template.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
    <link href="{{ asset('style/memberArea/homepage.css') }}" rel="stylesheet" media="all" >   
{% endblock %}

	
{% block main_content %}
	ceci est la page d accueil pour un membre
	<ul>
		{% if (is_granted('ROLE_ADMIN')) %}
		<li><a href="{{ path('admin') }}"><label>administration</label></a></li>
		{% endif %}
		<li><a href="{{ path('figures') }}"><label>mes personnages</label></a></li>
		<li><a href="{{ path('campaigns') }}"><label>mes campagnes</label></a></li>
		<li><a href="{{ path('find_campaigns') }}"><label>rechercher une campagne</label></a></li>
		<li><a href="{{ path('messages') }}"><label>messages</label></a></li>
		<li><a href="{{ path('relations') }}"><label>mes contacts</label></a></li>
	</ul>
	
	{% block content_member %}
	{% endblock %}
	
{% endblock %}
	
