{% extends 'base_template.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
    <link href="{{ asset('style/memberArea/homepage.css') }}" rel="stylesheet" media="all" >   
{% endblock %}

	
{% block main_content %}
	ceci est la page d accueil pour un membre
	<ul>
		{% if (is_granted('ROLE_ADMIN')) %}
		<li><a href="{{ path('admin') }}">administration</a></li>
		{% endif %}
		<li><a href="{{ path('figures') }}">mes personnages</a></li>
		<li><a href="{{ path('campaigns') }}">mes campagnes</a></li>
		<li><a href="{{ path('find_campaigns') }}">rechercher une campagne</a></li>
		<li><a href="{{ path('messages') }}">messages</a></li>
		<li><a href="{{ path('figuresTest') }}">liste de tous les personnages</a>
	</ul>
	
	{% block content_member %}
	{% endblock %}
	
{% endblock %}
	
