{% extends 'base_template.html.twig' %}




	
{% block main_content %}
	ceci est la page de profil du membre L'utilisateur courant est {{ app.user.username }}
	
	<a   href={{ path('relation_add', {'id': relation.id}) }}  ><button>ajouter aux contacts</button></a>
	<a><button>supprimer des contacts</button></a>
	
{#  {{ user.username }}  #}
	
	<img src="{{ asset('public/uploads/{{ user.getImage()}}.jpeg') }}" class="img-rounded" width=200px height=100px />
	{# {{ user.image }} #}
	
	{#  {{ user.description }} #}

{% endblock %}
	
