{% extends 'memberArea/figure/prophecy/figure.html.twig' %}

{% block figure_page %}
{% if figure.isValide == false %}
	<p>le processus de création du personnage est terminé mais le maître de jeu ne l'a pas encore validé</p>
	
{% if app.user.id == figure.campaign.owner.id  and figure.isValide == false %}
		<p>le processus de création du personnage est terminé mais le maître de jeu ne l'a pas encore validé</p>
		<a href="{{ path('prophecy_figure_master_validation', {'id': figure.id}) }}"><button>valider le personnage</button></a>
{% endif %}
	
{% endif %}
 
	----------------- informations de base sur le personnage ----------------{% if app.user.id == figure.owner.id  %} edition du pro {% elseif app.user.id == figure.campaign.owner.id %} edition MD {% endif %}
	<ul>
		<li><label>nom: </label>{{ figure.name }}</li>
		<li><label>taille</label>{{ figure.size }}</li>
		<li><label>poids</label>{{ figure.weight }}</li>
		<li><label>augure de naissance: </label>{{ figure.omen.name }}</li>
		<li><label>age: </label>{{ figure.age.name }}</li>
		<li><label>pays d'origine</label>{{ figure.nation }}</li>
	</ul>	
	
	----------------- caracteristiques du personnage ----------------{% if app.user.id == figure.owner.id  %} edition du pro {% elseif app.user.id == figure.campaign.owner.id %} edition MD {% endif %}

	<ul>
	{% for caracteristic in caracteristics %}
		<li><label>{{ caracteristic.caracteristic.name }}</label>  {{ caracteristic.value }}</li>
	{% endfor %}
	</ul>

	----------------- attributs majeurs du personnage ----------------{% if app.user.id == figure.owner.id  %} edition du pro {% elseif app.user.id == figure.campaign.owner.id %} edition MD {% endif %}
	
	<ul>
	{% for majorAttribute in majorAttributes %}
		<li><label>{{ majorAttribute.majorAttribute.name }}</label>  {{ majorAttribute.value }}</li>
	{% endfor %}
	</ul>
	
	----------------- attributs mineurs du personnage ----------------{% if app.user.id == figure.owner.id  %} edition du pro {% elseif app.user.id == figure.campaign.owner.id %} edition MD {% endif %}
	
	<ul>
	{% for minorAttribute in minorAttributes %}
		<li><label>{{ minorAttribute.minorAttribute.name }}</label>  {{ minorAttribute.value }}</li>
	{% endfor %}
	</ul>	

	
	
			{# PB Si certaines tendances sont a 0. il faut aborder differemment pour la creation
	{% if tendencies[0].circles == null %}
		cliquer ici pour initialiser vos attributs mineurs
	{% endif %}
	#}
	
	----------------- tendences du personnage ----------------{% if app.user.id == figure.owner.id  %} edition du pro {% elseif app.user.id == figure.campaign.owner.id %} edition MD {% endif %}
	
	
	
	<ul>
	{% for tendency in tendencies %}
		<li><label>{{ tendency.tendency.name }}</label>{{ tendency.tendencyValue }}</li>
		<li><label>cercles de tendance</label>{{ tendency.circles}}</li>
	{% endfor %}
	</ul>
	
				{# PB Si certaines tendances sont a 0. il faut aborder differemment pour la creation
	{% if tendencies[0].circles == null %}technic
		cliquer ici pour initialiser vos attributs mineurs
	{% endif %}
	#}
	
	
	
	----------------- inconvenients du personnage ----------------{% if app.user.id == figure.owner.id  %} edition du pro {% elseif app.user.id == figure.campaign.owner.id %} edition MD {% endif %}
		
	
	----------------- avantages du personnage ----------------{% if app.user.id == figure.owner.id  %} edition du pro {% elseif app.user.id == figure.campaign.owner.id %} edition MD {% endif %}
	
	
	{# ATTENTION, SOUCIS AVEC LE MAX wounds il ne correspond pas au max du personnage. IL MANQUE UNE TABLE POUR LE MAX CAMCILE PAR CARACTERISTIQUE #}
	
	----------------- blessures du personnage ----------------{% if app.user.id == figure.owner.id  %} edition du pro {% elseif app.user.id == figure.campaign.owner.id %} edition MD {% endif %}
	<ul>
	{% for wound in wounds %}
		<li><label>{{ wound.wound.name }}</label><label>{{ wound.wound.damages }}</label><label>{{ wound.wound.maxWounds }}</label><label>{{ wound.wound.malus }}</label>{{ wound.value }}</li>
	{% endfor %}
	</ul>
	
	
	----------------- compétences du personnage ----------------{% if app.user.id == figure.owner.id  %} edition du pro {% elseif app.user.id == figure.campaign.owner.id %} <a href="{{ path('prophecy_figure_skill_master_edition', {'id': figure.id}) }}">editer</a> {% endif %}
	<ul>	
	{% for majorAttribute in majorAttributes %}
		{{ majorAttribute.majorAttribute.name }} 
		 {% for skillCategory in skillCategories %} 
		  {% if skillCategory.majorAttribute.name is same as (majorAttribute.majorAttribute.name) %} 
		     {{ skillCategory.name }} 
		         {% for skill in skills %}
			         {% if skill.skill.skillCategory.name is same as (skillCategory.name) %} 
						<li><label> {{ skill.skill.name }}</label>{{ skill.value }}<label></li>
			         {% endif %} 
	    	    {% endfor %} 
	        {% endif %} 
		{% endfor %}
	{% endfor %}
	</ul>
	
		----------------- renommée du personnage ----------------{% if app.user.id == figure.owner.id  %} edition du pro {% elseif app.user.id == figure.campaign.owner.id %} edition MD {% endif %}
	
	<ul>renommée
		<li>{{ figure.reputation }}</li>
	</ul>
	
	----------------- expérience du personnage ----------------
	<ul>experience
		<li>{{ figure.xperience }}</li>
	</ul>
	
		
{% endblock %}
	
