{% extends 'memberArea/homepage.html.twig' %}

	
    {% block content_member %}
    

    
    	{% if figure.isFinish == false %}
    		<p>la création du personnage n'est pas encore terminée</p>

    	{% endif %}
    		
    		
    		Processus de creation du personnage
    		
    	----------------- informations de base sur le personnage ----------------
	<ul>
		<li><label>nom: </label>{{ figure.name }}</li>
		<li><label>taille</label>{{ figure.size }}</li>
		<li><label>poids</label>{{ figure.weight }}</li>
		
		etape 1
		
		{% if figure.omen == null %}
		<li><label>augure de naissance: </label>cliquer ici pour initialiser votre augure de naissance<a href="{{ path('prophecy_edit_initial_omen', {'id': figure.id}) }}">editer</a></li>
		{% else %}
		<li><label>augure de naissance: </label>{{ figure.omen.name }}</li>
		{% endif %}
		
		{# ---------------------------------------------------------------------------- #}
		
		etape 2
		
		{% if figure.omen == null %}
		
		{% elseif figure.age == null %}
		<li><label>age: </label>cliquer ici pour initialiser votre age<a href="{{ path('prophecy_figure_edit_initial_age', {'id': figure.id }) }}">editer</a></li>
		{% else %}
		<li><label>age: </label>{{ figure.age.name }}</li>
		{% endif %}
		
		{# ---------------------------------------------------------------------------- #}
		
		etape 3
		
		{% if figure.age == null %}
		
		{% elseif figure.caste == null %}
		<li><label>caste: </label>cliquer ici pour initialiser votre caste<a href="{{ path('prophecy_figure_edit_initial_caste', {'id': figure.id }) }}">editer</a></li>
		{% else %}
		<li><label>caste: </label>{{ figure.caste.name }}</li>
		{% endif %}
	
		{# ---------------------------------------------------------------------------- #}
		
		
	</ul>	
	
	----------------- caracteristiques du personnage ----------------
	
	etape 4
		
	{% if figure.caste == null %}
	
	{% elseif caracteristics[0].value == null %}
		cliquer ici pour initialiser vos caracteristiques<a href="{{ path('figure_edit_initial_caracteristic', {'id': figure.id }) }}">editer</a>
	
	{% else %}
	<ul>
	{% for caracteristic in caracteristics %}
		<li><label>{{ caracteristic.caracteristic.name }}</label>  {{ caracteristic.value }}</li>
	{% endfor %}
	</ul>
	{% endif %}
	
	
	----------------- attributs majeurs du personnage ----------------
	
	etape 5
	
	{% if figure.caracteristics[0].value == null %}
	
	{% elseif majorAttributes[0].value == null %}
		cliquer ici pour initialiser vos attributs majeurs<a href="{{ path('figure_edit_initial_major_attribute', {'id': figure.id }) }}">editer</a>
	{% else %}
	<ul>
	{% for majorAttribute in majorAttributes %}
		<li><label>{{ majorAttribute.majorAttribute.name }}</label>  {{ majorAttribute.value }}</li>
	{% endfor %}
	</ul>
	{% endif %}
	
	
	----------------- attributs mineurs du personnage ----------------
	
	etape 6
	
	{% if figure.majorAttributes[0].value == null %}
		
	{% elseif minorAttributes[0].value == null %}
		cliquer ici pour initialiser vos attributs mineurs<a href="{{ path('figure_edit_initial_minor_attribute', {'id': figure.id }) }}">editer</a>
	{% else %}	
	<ul>
	{% for minorAttribute in minorAttributes %}
		<li><label>{{ minorAttribute.minorAttribute.name }}</label>  {{ minorAttribute.value }}</li>
	{% endfor %}
	</ul>	
	{% endif %}
	
	etape 7
	minor : 
	{% if minorAttributes[0].value == null %}
	
	{% elseif figure.nation == null %}
		<li><label>pays d'origine</label>cliquer ici pour initialiser votre pays d'origine<a href="{{ path('prophecy_edit_initial_nation', {'id': figure.id}) }}">editer</a></li>
	{% else %}
		<li><label>pays d'origine</label>{{ figure.nation }}</li>
	{% endif %}
	
	
			{# PB Si certaines tendances sont a 0. il faut aborder differemment pour la creation
	{% if tendencies[0].circles == null %}
		cliquer ici pour initialiser vos attributs mineurs
	{% endif %}
	#}
	
	----------------- tendances du personnage ----------------
	
	etape 8
	
	<ul>
	{% for tendency in tendencies %}
		<li><label>{{ tendency.tendency.name }}</label>{{ tendency.tendencyValue }}</li>
		<li><label>cercles de tendance</label>{{ tendency.circles}}</li>
	{% endfor %}
	</ul>
	
				{# PB Si certaines tendances sont a 0. il faut aborder differemment pour la creation
	{% if tendencies[0].circles == null %}technic
		cliquer ici pour initialiser vos attributs mineurs
	{% endif %}
	#}
	
	
	
	----------------- inconvenients du personnage ----------------
	etape 9
	
	----------------- avantages du personnage ----------------
	etape 10
	
	{# ATTENTION, SOUCIS AVEC LE MAX wounds il ne correspond pas au max du personnage. IL MANQUE UNE TABLE POUR LE MAX CAMCILE PAR CARACTERISTIQUE #}
	
	----------------- blessures du personnage ----------------
	<ul>
	{% for wound in wounds %}
		<li><label>{{ wound.wound.name }}</label><label>{{ wound.wound.damages }}</label><label>{{ wound.wound.maxWounds }}</label><label>{{ wound.wound.malus }}</label>{{ wound.value }}</li>
	{% endfor %}
	</ul>
	
	
	----------------- compétences du personnage ----------------
	
	etape 11 : rajouter la magie
	
	<ul>	
	{% for majorAttribute in majorAttributes %}
		{{ majorAttribute.majorAttribute.name }} 
		{% for skillCategory in skillCategories %}
			{% if skillCategory.majorAttribute.name is same as (majorAttribute.majorAttribute.name) %} 
				{{ skillCategory.name }}
			{% for skill in skills %}
		    	{% if skill.skill.skillCategory.name is same as (skillCategory.name) %}
					<li><label> {{ skill.skill.name }}</label>{{ skill.value }}<label></li>
		    	{% endif %}
	    	{% endfor %}
	    	{% endif %}
		{% endfor %}
	{% endfor %}
	</ul>
	
	
	
	
		----------------- renommée du personnage ----------------
	
	etape 12
	
	<ul>renommée
		<li>{{ figure.reputation }}</li>
	</ul>
	
	
	----------------- expérience du personnage ----------------
	<ul>experience
		<li>{{ figure.xperience }}</li>
	</ul>	
    		
    		

		
{% endblock %}