{% extends 'memberArea/figure/prophecy/figure.html.twig' %}

	
{% block figure_page %}


	page de l'historique


<ul>inconvénients
	{% for disadvantage in figure.disadvantages %}
		<li><p>nom : {{ disadvantage.disadvantage.name }}</p><p>description : {{ disadvantage.disadvantage.description }}</p></li>
	{% endfor %}
</ul>


<ul>avantages
	{% for advantage in figure.advantages %}
		<li><p>nom : {{ advantage.advantage.name }}</p><p>description : {{ advantage.advantage.description }}</p></li>
	{% endfor %}
</ul>


<ul>historique	
	<li>{{ figure.background }}</li>
</ul>

		
{% endblock %}
	
