{% extends 'memberArea/homepage.html.twig' %}

	
    {% block content_member %}
    
    <a href="{{ path('prophecy_figure_caracteristics', {'id': figure.id}) }}">caractéristiques</a>
    <a href="{{ path('prophecy_figure_caste', {'id': figure.id}) }}">caste</a>
    <a href="{{ path('prophecy_figure_magic', {'id': figure.id}) }}">magie</a>
    <a href="{{ path('prophecy_figure_equipment', {'id': figure.id}) }}">équipement</a>
    <a href="{{ path('prophecy_figure_background', {'id': figure.id}) }}">historique</a>
    
    	{% if figure.isFinish == false %}
    		<p>la création du personnage n'est pas encore terminée</p>

    	{% endif %}
    		
        {% block figure_page %}
        
        {% endblock %}
		
{% endblock %}
	
