{% extends 'memberArea/homepage.html.twig' %}

	
    {% block content_member %}
    
    	{% if figure.isFinish == false %}
    		<p>la création du personnage n'est pas encore terminée</p>

    	{% endif %}
    		<a href="{{ path('prophecy_figure_delete', {'id': figure.id}) }}" onclick="if(!confirm('Are you sure ?')) { return false; }" >supprimer le personnage</a>
    		
    		Processus de creation du personnage. Une fois l'étape validée, il ne sera plus possible de revenir en arrière.
    		
    	<p>----------------- informations de base sur le personnage ----------------</p>
	<ul>
		<li><label>nom: </label>{{ figure.name }}</li>
	</ul>
		
		----------------- augure du personnage ----------------
		
	<ul>etape 1
		{% if figure.omen == null %}
		<li><label>augure de naissance: </label>cliquer ici pour initialiser votre augure de naissance<a href="{{ path('prophecy_edit_initial_omen', {'id': figure.id}) }}">editer</a></li>
		{% else %}
		<li><label>augure de naissance: </label>{{ figure.omen.name }}</li>
		{% endif %}
	</ul>	
		----------------- age du personnage --------------- 
		
		
	<ul>etape 2
		{% if figure.omen == null %}
		
		{% elseif figure.age == null %}
		<li><label>age: </label>cliquer ici pour initialiser votre age<a href="{{ path('prophecy_figure_edit_initial_age', {'id': figure.id }) }}">editer</a></li>
		{% else %}
		<li><label>age: </label>{{ figure.age.name }}</li>
    		
		{% endif %}
	</ul>	
		----------------- caste du personnage --------------- 
		
	<ul>etape 3
		
		{% if figure.age == null %}
		
		{% elseif figure.caste == null %}
		<li><label>caste: </label>cliquer ici pour initialiser votre caste<a href="{{ path('prophecy_figure_edit_initial_caste', {'id': figure.id }) }}">editer</a></li>
		{% else %}
		<li><label>caste: </label>{{ figure.caste.name }}</li>
		{% endif %}
	</ul>
	
	----------------- interdit du personnage ---------------
	
	<ul>etape 4
		{% if figure.caste == null %}
		
		{% elseif figure.prohibiteds|length == 0 %}
		<li><label>interdit: </label>cliquer ici pour initialiser l'interdit de caste<a href="{{ path('prophecy_figure_edit_initial_prohibited', {'id': figure.id}) }}">editer</a></li>
		{% else %}
			{% for prohibited in figure.prohibiteds %}
		        <li><label>interdit: </label>{{ prohibited.prohibited.name }}</li>
			{% endfor %}
		{% endif %}
	</ul>
	
	
		 
	----------------- caracteristiques du personnage ----------------
	
	<ul>etape 5

	{% if figure.prohibiteds|length == 0 %}	
		
	{% elseif figure.isCaracteristicsChoosen == false %}
		cliquer ici pour initialiser vos caracteristiques<a href="{{ path('figure_edit_initial_caracteristic', {'id': figure.id }) }}">editer</a>
	
	{% elseif figure.isCaracteristicsChoosen == true %}
    	
        {% for caracteristic in figure.caracteristics %}
        	<li><label>{{ caracteristic.caracteristic.name }}</label>{{ caracteristic.value }}</li>
        {% endfor %}    	
    	
	{%
endif %}	</ul>

	----------------- attributs majeurs du personnage ----------------
	
	<ul>etape 6
	
	{% if figure.isCaracteristicsChoosen == false %}
	
	{% elseif figure.isMajorAttributesChoosen == false %}
		cliquer ici pour initialiser vos attributs majeurs<a href="{{ path('figure_edit_initial_major_attribute', {'id': figure.id }) }}">editer</a>
	{% elseif figure.isMajorAttributesChoosen == true %}
	
    	{% for majorAttribute in figure.majorAttributes %}
    		<li><label>{{ majorAttribute.majorAttribute.name }}</label>{{ majorAttribute.value }}</li>
    	{% endfor %}
	
	{% endif %}
	</ul>
	
	----------------- attributs mineurs du personnage ----------------
	
	<ul>etape 7
	
	{% if figure.isMajorAttributesChoosen == false %}
		
	{% elseif figure.isMinorAttributesChoosen == false %}
		cliquer ici pour initialiser vos attributs mineurs<a href="{{ path('figure_edit_initial_minor_attribute', {'id': figure.id }) }}">editer</a>
	{% elseif figure.isMinorAttributesChoosen == true %}	

    	{% for minorAttribute in minorAttributes %}
    		<li><label>{{ minorAttribute.minorAttribute.name }}</label>  {{ minorAttribute.value }}</li>
    	{% endfor %}

	{% endif %}
	</ul>
	
	----------------- nation d'origine du personnage ----------------
	
	<ul>etape 8
	
	{% if figure.isMinorAttributesChoosen == false %}
	
	{% elseif figure.nation == null %}
		<li><label>pays d'origine</label>cliquer ici pour initialiser votre pays d'origine<a href="{{ path('prophecy_edit_initial_nation', {'id': figure.id}) }}">editer</a></li>
	{% else %}
		<li><label>pays d'origine</label>{{ figure.nation }}</li>
	{% endif %}
	
	
			{# PB Si certaines tendances sont a 0. il faut aborder differemment pour la creation
	{% if tendencies[0].circles == null %}
		cliquer ici pour initialiser vos attributs mineurs
	{% endif %}
	#}
	</ul>
	
	----------------- tendances du personnage ----------------
	
	<ul>etape 9
	
	{% if figure.nation == null %}
									
	{% elseif figure.isTendenciesChoosen == false %}
		<li><label>tendances</label>cliquer ici pour déterminer vos tendances<a href ="{{ path('prophecy_edit_initial_tendency', {'id': figure.id}) }}">edit</a></li>
	{% elseif figure.isTendenciesChoosen == true %}
	{% for tendency in figure.tendencies %}
		<li><label>{{ tendency.tendency.name }}</label>{{ tendency.tendencyValue }}</li>
		<li><label>cercles de tendance</label>{{ tendency.circles}}</li>
	{% endfor %}
	{% endif %}
	</ul>
	
				{# PB Si certaines tendances sont a 0. il faut aborder differemment pour la creation
	{% if tendencies[0].circles == null %}technic
		cliquer ici pour initialiser vos attributs mineurs
	{% endif %}
	#}
	
	
	
	----------------- désavantages du personnage ----------------
	<ul>etape 10

	{% if figure.isTendenciesChoosen == false %}
	
	{% else %}
		{% for i in range (0,3) %}
			<li><label>inconvénients</label>cliquer ici pour choisir vos inconvénients<a href="{{ path('prophecy_edit_initial_disadvantages', {'id': figure.id}) }}">editer</a></li>
		{% endfor %}
	{% endif %}
	
	</ul>
	
	----------------- avantages du personnage ----------------
	etape 11

	{% if figure.disadvantages | length == 0 %}
	
	{% else %}
		<p>points d'avantages disponibles : {{ figure.advantagePoints }}</p>
		{% for i in range (0,3) %}
			<li><label>avantages</label>cliquer ici pour choisir vos avantages<a href="{{ path('prophecy_edit_initial_advantages', {'id': figure.id}) }}">editer</a></li>
		{% endfor %}
	{% endif %}
	
	</ul>
	
	{# ATTENTION, SOUCIS AVEC LE MAX wounds il ne correspond pas au max du personnage. IL MANQUE UNE TABLE POUR LE MAX CAMCILE PAR CARACTERISTIQUE #}
	
	----------------- blessures du personnage ----------------
	<ul>
		<li><label>tendances</label>cliquer ici pour déterminer vos tendances<a href ="{{ path('prophecy_edit_initial_wounds', {'id': figure.id}) }}">edit</a></li> 
    {% for wounds in figure.wounds %}
		<li><label>{{ wounds.wounds.wound.name }}</label><label>{{ wounds.wounds.wounds }}</label>
		<label>malus</label>{{ wounds.wounds.wound.malus }}
		</li>
	{% endfor %}
	</ul>
	
	
	----------------- compétences du personnage ----------------
	
	<ul>	etape 12 : 
	{% if figure.disadvantages == null %}
	
	{% elseif figure.disadvantages != null  %}
		<li>cliquer ici pour modifier vos competences de départ<a href="{{ path('prophecy_edit_initial_skills', {'id': figure.id}) }}">editer</a></li>
	{% else %}
		{% for majorAttribute in figure.majorAttributes %}
		{{ majorAttribute.majorAttribute.name }} 
		{% for skillCategory in skillCategories %}
			{% if skillCategory.majorAttribute.name is same as (majorAttribute.majorAttribute.name) %} 
				{{ skillCategory.name }}
			{% for skill in skills %}
		    	{% if skill.skill.skillCategory.name is same as (skillCategory.name) %}
					<li><label> {{ skill.skill.name }}</label>{{ skill.value }}<label></li>
		    	{% endif %}
	    	{% endfor %}
	    	{% endif %}
		{% endfor %}
	    {% endfor %}
	{% endif %}
	</ul>
	
	
		--------- compétences de magie du personnage ------------
		<ul>
		{% if figure.disadvantages is empty %}
		
		{% elseif figure.disadvantages != null  %}
			<li>cliquer ici pour modifier vos spheres de départ<a href="{{ path('prophecy_edit_initial_spheres', {'id': figure.id}) }}">editer</a></li>
		{% else %}	
			{% for sphere in figure.spheres %}
				{{ sphere.sphere.name }}{{ sphere.value }}
			{% endfor %}
		{% endif %}
		</ul>
	
		------------- sortilèges du personnage -----------------
		
		ATTention : seuls les mages ont droit de choisir des sorts gratuitement, toutes les autres castes doivent les acheter
		
	
		<ul>sortilèges
            {% for sphere in figure.spheres %}
            {% if (sphere.value > 0) and (figure.caste.name is same as "Mages")  %} 
            		<li>cliquer ici pour choisir vos sortilèges de départ<a href="{{ path('prophecy_edit_initial_mages_spells', {'id': figure.id, 'sphere': sphere.sphere.id}) }}">editer</a></li>
            	{% endif %} 
            {% endfor %}
            {% for sphere in figure.spheres %}
            {% if (sphere.value > 0) %} 
            		<li>cliquer ici pour acheter des sorts supplémentaires<a href="{{ path('prophecy_edit_additional_initial_spells', {'id': figure.id, 'sphere': sphere.sphere.id}) }}">editer</a></li>
            	{% endif %} 
            {% endfor %}	
			
		</ul>
	
		--------- privilèges de caste du personnage ------------
		
		<ul>
			<li>cliquer ici pour ajouter des privilèges de caste à ton personnage<a href="{{ path('prophecy_edit_initial_favour', {'id': figure.id}) }}">editer</a></li>
		</ul>
	
		----------------- renommée du personnage ----------------
	

	
	<ul>renommée
	{% if figure.disadvantages == null %}
		
		{% elseif figure.disadvantages != null  %}
		<li>cliquer ici pour modifier votre réputation de départ<a href="{{ path('prophecy_edit_initial_reputation', {'id': figure.id}) }}">editer</a></li>
		{% else %}	
		<li>{{ figure.reputation }}</li>
		{% endif %}
	</ul>
	
	
	----------------- expérience du personnage ----------------
	<ul>experience
		<li>{{ figure.xperience }}</li>
	</ul>	
    		
    --------- équipement du personnage ------------
   

   	<ul>étape 14  
   	{% if figure.getIsInitialCurrenciesGenerated == true %}
   	    {% for currency in figure.currencies %}
			<li>{{ currency.currency.name }}{{ currency.value }}</li>
		{% endfor %}
   	  	
   	{% else %}
   		<li>cliquer ici pour générer votre richesse de départ<a href="{{ path('prophecy_edit_initial_currencies', {'id': figure.id}) }}">editer</a></li>
	{% endif %}
	</ul>
	
	<ul>armes
		<li>cliquer ici pour vos armes de départ<a href="{{ path('prophecy_edit_initial_weapons', {'id': figure.id}) }}">editer</a></li>
	</ul>

	<ul>armures
		<li>cliquer ici pour vos armes de départ<a href="{{ path('prophecy_edit_initial_armors', {'id': figure.id}) }}">editer</a></li>
	</ul>
	
	<ul>bouclier
		<li>cliquer ici pour vos boucliers de départ<a href="{{ path('prophecy_edit_initial_shields', {'id': figure.id}) }}">editer</a></li>
	</ul>
	
	<ul>divers
		<li><a href ="">cliquez ici pour acquérir un equipement divers de base</a></li>
	</ul>
	
	
	--------- historique personnage ------------
	<ul>
		<li>cliquer ici pour créer le background du personnage<a href="{{ path('prophecy_figure_edit_initial_background', {'id': figure.id}) }}">editer</a></li>
	</ul>
	--------- fonction test ------------
	
	<ul>TEST
		<li>cliquer ici pour TESTER CETTE FONCTION DE TEST<a href="{{ path('prophecy_test', {'id': figure.id}) }}">TEST</a></li>
	</ul>
	
	 ----------------- validation du personnage ----------------
	 
	 <a href="{{ path('prophecy_figure_player_validation', {'id': figure.id}) }}">valider le personnage</a>
		
{% endblock %}