{% extends 'memberArea/figure/prophecy/figure.html.twig' %}

	
{% block figure_page %}


	page de magie
	<ul>reserve de magie
		<li>{{ figure.mana }}</li>
		<li>{{ figure.currentMana }}</li>
	</ul>
	
	<ul>
	{% for discipline in disciplines %}
		<li><label>{{ discipline.discipline.name }}</label>  {{ discipline.value }} </li>
	{% endfor %}
	</ul>
	
	<u>
	{% for sphere in spheres %}
		<li><label>{{ sphere.sphere.name }}</label>{{ sphere.value }}<label>reserve de magie</label>{{ sphere.mana }}</li>
	{% endfor %}
	</u>
		
		
	<ul>sortileges
	    {% for spell in figure.spells %}
		    <li><p>nom : {{ spell.spell.name }}</p><p>sphere: {{ spell.spell.sphere }}</p><p>cout :{{ spell.spell.manaCost }}</p></li>
	    {% endfor %}
	</ul>		
		
		
{% endblock %}
	
